<!DOCTYPE html>
<html>
<head>
  <title>Lite Streak</title>
  <LINK href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  <script src="/lib/impact/impact.js"></script>
  <script src="/lib/game/main.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var namerand  = Math.floor(Math.random()*9999);
    var playername = "player" + namerand;

    socket.on('addplayer', function (playerlist, otherplayername) {
      var player = ig.game.getEntitiesByType( EntityPlayer )[0];
      player.messagebox = player.messagebox + '\n' + otherplayername + ' joined';
      for(var i = 0; i < playerlist.length; i++) {
        if(player.gamename != playerlist[i]) {
          ig.game.spawnEntity( EntityOtherplayer, 400, 500, {gamename: playerlist[i]} );
        }
      }
    });

    socket.on('playermove', function (data) {
      var otherplayer = ig.game.getEntitiesByType( EntityOtherplayer );
      if(otherplayer) {
        for(var i in otherplayer) {
          if(data.gamename == otherplayer[i].gamename) {
            otherplayer[i].pos.x = data.positionx;
            otherplayer[i].pos.y = data.positiony;
            otherplayer[i].animation = data.currentanimation;
            otherplayer[i].health = data.health;
            otherplayer[i].shield = data.shield;
            otherplayer[i].speed = data.speed;
            otherplayer[i].init_health = data.init_health;
          }
        }
      }
    });

    socket.on('playershoot', function (data) {
      ig.game.spawnEntity(
        EntityNetbullet,
        data.positionx,
        data.positiony, {
          angle: data.angle,
          dmg: data.dmg,
          desiredVel: data.desiredVel,
          range: data.range,
          thisgamename: data.gamename
        }
      );
    });

    socket.on('playersync', function (data) {
      var otherplayer = ig.game.getEntitiesByType( EntityOtherplayer );
      if(otherplayer) {
        for(var i in otherplayer) {
          if(data.gamename == otherplayer[i].gamename) {
            otherplayer[i].pos.x = data.positionx;
            otherplayer[i].pos.y = data.positiony;
            otherplayer[i].animation = data.currentanimation;
            otherplayer[i].health = data.health;
            otherplayer[i].shield = data.shield;
            otherplayer[i].speed = data.speed;
            otherplayer[i].init_health = data.init_health;
          }
        }
      }
    });

    socket.on('message', function (data, type) {
      var player = ig.game.getEntitiesByType( EntityPlayer )[0];
      if (player) {
        if (type ===' left') {
          player.messagebox = player.messagebox + '\n' + data + ' has left';
        } else if (type === 'died') {
          player.messagebox = player.messagebox + '\n' + data + ' has died';
        }
      }
    });

    socket.on('removeplayer', function (player) {
      var otherplayer = ig.game.getEntitiesByType( EntityOtherplayer );
      if(otherplayer) {
        for(var i in otherplayer) {
          if(player == otherplayer[i].gamename) {
            otherplayer[i].kill();
          }
        }
      }
    });
  </script>
</head>
<body>
  <canvas id="canvas"></canvas>
</body>
</html>
